@import "tailwindcss";
html,
body,
#__next {
  overflow-x: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* глобально запретить горизонтальный скролл */
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}
