.styledbutton {
  text-decoration: none;
  color: #743e0b;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.active {
  background-color: #c06d00;
  color: rgb(0, 0, 0);
}
.disable {
  background-color: #ff7b0025;
  color: #707070;
}
.styledbutton:hover {
  background-color: #ff7b0075;
  color: #000000;
}

.small {
  padding: 0.5rem 1rem;
}
.medium {
  padding: 0.75rem 1.8rem;
  background-color: rgb(47, 6, 141);
}
.large {
  padding: 1rem 2.3rem;
  background-color: rgb(194, 247, 2);
}
