.header {
  padding: 1rem 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0 2rem;
}

.link {
  text-decoration: none;
  color: #743e0b;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #ff7b0075;
  color: #000000;
}

.active {
  background-color: #c06d00;
  color: rgb(0, 0, 0);
}

.active:hover {
  background-color: #b36b0056;
}
